main {
    .container {
        display: flex;
        justify-content: center;
        margin: 15% 20%;
        color: white;

        .uno,
        .dos,
        .tres {
            padding: 20px 45px;
        }

        .uno h1,
        .dos h2,
        .tres h3 {
            font-weight: bolder;
            font-size: 2rem;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, Helvetica, sans-serif;
        }

        .uno p,
        .dos p,
        .tres p {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Helvetica, sans-serif;
            font-weight: lighter;
            font-size: 1.1rem;
        }

        .uno a,
        .dos a,
        .tres a {
            padding: 5px 15px;
            border-radius: 15px;
            text-decoration: none;
        }

        img{
            transform: translateY(15px);
        }

        .uno {
            background-color: #E38525;

            a {
                background-color: whitesmoke;
                color: #E38525;
            }

            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
        }

        .dos {
            background-color: #276871;

            a {
                color: #276871;
                background-color: whitesmoke;
            }
        }

        .tres {
            background-color: #143F3F;
            a {
                color: #143F3F;
                background-color: whitesmoke;
            }

            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
        }

        a:hover{
            box-shadow: 3px 3px 5px grey;
        }

    }
} 

/* version tablet*/

@media (max-width: 1024px) {
    .container{
        flex-direction: column;
        margin: 15% 10% !important;
        padding: 0px 10%;
    }
    .uno{
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px !important;
    }
    .tres{
        border-top-right-radius:0px !important;
        border-bottom-left-radius: 20px;
    }
}

/* version mobile*/

@media (max-width: 608px) {
    
    .container{
        padding: 0px;
    }

    
}